<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <!-- Bootstrap CSS -->
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body class="bg-light text-dark">
    {{> header }}
    {{{body}}}
    {{> footer }}
    <!-- Bootstrap JS and dependencies -->
    <script src="/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js" defer></script>
</body>
</html>
