<div class="container">
    <h2>Your Habits</h2>
    <a href="/habits/add">Add a New Habit</a>
    <div id="habitsList">
        {{#each habits}}
        <div class="habit">
            <p>{{name}} - {{description}} ({{formatDate created_at "MMM Do YYYY"}})</p>
        </div>
        {{/each}}
    </div>
    <div id="habitHeatmap"></div>
</div>

<link rel="stylesheet" href="/scripts/cal-heatmap.css">
<script src="/scripts/cal-heatmap.js"></script>
<script src="/js/scripts.js"></script>
